.header__container {
  width: 100%;
  background: transparent;
  position: absolute;

  .header__wrapper {
    max-width: 1510px;
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    border-bottom: 1px solid #babbc5;

    @media (min-width: 1624px) {
      margin: 0 auto;
    }

    @media (max-width: 1324px) {
      margin: 0px 95px;
    }

    @media (max-width: 1154px) {
      margin: 0px 55px;
    }

    @media (max-width: 1024px) {
      margin: 0px 20px;
    }

    .header__menu {
      display: flex;

      &-items {
        display: flex;
        align-items: center;

        & li {
          height: 100%;
          display: flex;
        }

        & a {
          min-width: 134px;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          text-decoration: none;

          @media (max-width: 1024px) {
            min-width: 112px;
            font-size: 12px;
            line-height: 14px;
          }
        }

        & li a:hover {
          border-bottom: 3px solid #babbc5;
        }

        & li a:active {
          border-bottom: 3px solid #e71414;
        }

        @media (max-width: 800px) {
          display: none;
        }
      }
    }
  }
}
