.header__container {
  width: 100%;
  background: transparent;
  position: absolute;

  .header__wrapper {
    max-width: 1510px;
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    border-bottom: 1px solid #babbc5;

    @media (min-width: 1624px) {
      margin: 0 auto;
    }

    @media (max-width: 1324px) {
      margin: 0px 95px;
    }

    @media (max-width: 1154px) {
      margin: 0px 55px;
    }

    @media (max-width: 1024px) {
      margin: 0px 20px;
    }

    @media (max-width: 800px) {
      border-bottom: none;
    }

    @media (max-width: 320px) {
      border-bottom: none;
    }

    .header__logo {
      z-index: 2;

      img {
        @media (max-width: 320px) {
          max-width: 160px;
        }
      }
    }
    .header__menu {
      display: flex;

      &-items {
        display: flex;
        align-items: center;

        @media (max-width: 800px) {
          display: none;          
        }        

        & li {
          height: 100%;
          display: flex;
        }

        & a {
          min-width: 134px;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          text-decoration: none;

          @media (max-width: 1024px) {
            min-width: 112px;
            font-size: 12px;
            line-height: 14px;
          }

          @media (max-width: 800px) {
            font-size: 20px;
            line-height: 22px;
            justify-content: start;
          }
        }

        & li a:hover {
          border-bottom: 3px solid #babbc5;
        }

        & li a:active {
          border-bottom: 3px solid #e71414;
        }
      }
    }

    .header__menu-burger {
      display: none;

      @media (max-width: 800px) {
        display: flex;
      }

      &-checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 33px;
        right: 32px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;

        @media (max-width: 320px) {
          height: 22px;
          width: 27px;
          top: 15px;
          right: 30px;
        }
      }

      &-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 38px;
        right: 35px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 320px) {
          height: 20px;
          width: 24px;
          top: 19px;
          right: 35px;
        }

        .line {
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background: #ffffff;

          @media (max-width: 320px) {
            height: 3px;
            width: 24px;
          }
        }

        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.4s ease-in-out;
        }

        .line2 {
          transition: transform 0.2s ease-in-out;
        }

        .line3 {
          transform-origin: 0% 100%;
          transition: transform 0.4s ease-in-out;
        }
      }

      // input[type="checkbox"]:checked ~ .menu-items {
      //   transform: translateX(0);
      // }

      input[type="checkbox"]:checked ~ .header__menu-burger-lines .line1 {
        transform: rotate(45deg);
      }

      input[type="checkbox"]:checked ~ .header__menu-burger-lines .line2 {
        transform: scaleY(0);
      }

      input[type="checkbox"]:checked ~ .header__menu-burger-lines .line3 {
        transform: rotate(-45deg);
      }

      input[type="checkbox"] ~ .header__menu-items {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 262px;
        padding-bottom: 263px;
        flex-direction: column;
        width: 40%;
        justify-content: center;
        align-items: start;

        @media (max-width: 593px) {
          padding-top: 273px;
          padding-bottom: 273px;
          width: 100%;
        }

        @media (max-width: 396px) {
          padding-top: 236px;
          padding-bottom: 237px;
        }

        @media (max-width: 320px) {
          padding-top: 84px;
          padding-bottom: 171px;
        }
      }

      input[type="checkbox"]:checked ~ .header__menu-items {
        display: flex;
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(37, 43, 73, 0.9);

        @media (max-width: 593px) {
          background-image: url(../images/banner.svg);
          box-shadow: inset 0 0 0 2000px rgba(37, 43, 73, 0.8);
        }
      }

      input[type="checkbox"]:checked ~ .header__menu-items li {
        height: 60px;
        padding: 0.5em;
      }
    }
  }
}
